<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaid's Portfolio</title>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>[
  <body>
    <header>
      <h1>Zaid's Portfolio</h1>
      <nav>
        <ul>
          <li><a href="#about">About me </a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="about">
        <h2>About Me</h2>
        <p>Hi, I'm Zaid, a Python programmer. My primary area of specialization is web scraping, which involves extracting data from websites and analyzing it to uncover useful insights.

I have worked on a variety of projects involving web scraping, including data mining, price monitoring, and sentiment analysis. I'm well-versed in popular Python libraries such as BeautifulSoup, Scrapy, and Selenium, which are essential tools for any web scraping project.
          Whether you need to monitor prices, collect data for research, or gain insights into market trends, my web scraping expertise will enable you to make data-driven decisions quickly and effectively. So if you're ready to take your business to the next level, let's connect and discuss how I can help you leverage the power of web scraping.

In addition to web scraping, I'm also experienced in building desktop applications using Tkinter, a Python GUI toolkit. I have developed several applications using Tkinter, including a weather app, a calculator, and a text editor. My experience with Tkinter has given me a solid understanding of GUI programming concepts, which can be applied to a wide range of projects.

Apart from my technical skills, I'm also a quick learner and a good team player. I enjoy collaborating with others and learning new things, which is why I'm always eager to take on new challenges and projects. If you're interested in working with me or have any questions, feel free to contact me .</p>
      </section>
      <section id="projects">
        <h2>My Projects</h2>
        <div class="project" id="1">

          <h2>Project 1</h2>
          <p> I've created a powerful web scraper using BeautifulSoup that's capable of quickly and
            efficiently extracting data from web listings. By leveraging this tool,
            I can seamlessly open each of the first 20 listings and extract the numbers listed on the site in a matter of just 1.5 - 4 seconds. </p>


          <img src="static/images/Project1.png" alt="Project 1">
        </div>
        <div class="project" id="2">
          <h3>Project 2</h3>
          <p>The game measures the player's typing speed by challenging them to type the entire alphabet as quickly and accurately as possible. The program captures the start time of the player's keystrokes and calculates the time it takes to complete the task, providing instant feedback to the player.
          The code is designed to handle various user inputs, including key press and mouse events. The program is also well-documented, making it easy for other developers to understand the code structure and make any necessary modifications. Overall, this program provides an enjoyable and practical way for individuals to improve their typing speed and accuracy in a fun and interactive manner.</p>
          <div class="col-6">
          <img src="static/images/project2.png" alt="Project 2">
          <img src="static/images/project2after.png" alt="Project 2">
        </div>
        </div>
      </section>
      <section id="contact">
        <h2>Contact Me</h2>
        <ul>
          <li><a href="mailto:zaidnasseragha@gmail.com"><span class="label">Email Me </span></a></li>
          <li><a href="https://www.instagram.com/zaidnasseragha/"><span class="label">Instagram</span></a></li>
          <li><a href="https://github.com/Zaid995"><span class="label">Github</span></a></li>

          </ul>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Zaid's Portfolio</p>
    </footer>
  </body>
</html>
